.home {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 0px 20px;
  margin-bottom: 10px;
  border: 1px solid grey;
  max-height: 170px;
  overflow-y: auto;
  margin: 5px;
  padding: 20px;
}

.displayButton {
  background-color: aqua;
  border: none;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bolder;
}
